#!/bin/sh

path="/home/nils/tuto-linux/web-server/iti"

export PORT="4242"
export SERVER_IFACE="0.0.0.0"

case "$1" in
  start) exec forever --sourceDir="$path" start index.js;;
  stop) exec forever --sourceDir="$path" stop index.js;;
  *) echo "usage: $0 [start|stop]" 1>&2;;
esac

exit 0