[Service]
ExecStart=/usr/bin/nodejs /var/www/iti/index.js
Restart=always
StandardOutput=syslog
SyslogIdentifier=iti-website
User=root
Group=root
WorkingDirectory=/var/www/iti
Environment=PATH=/usr/bin/:/usr/local/bin/
Environment=NODE_ENV=production
Environment=PORT=4242

[Install]
WantedBy=multi-user.target
